<%- include('../partials/header') %>
  <h2>About Us</h2>
    <p><img class="pic" src="images/roles.jpg" /></p>
    <p>We the founders consist of a team of three including a marketing strategist, a business specialist, and a software engineer. Under an LLC legal liability company. GSB® Sorry Not Sorry, LLC was created by three classmates trying to create a game that would make a difference in today's society. </p>
<%- include('../partials/footer') %>