<%- include('../partials/header') %>
  <h2>Our Financial Plan</h2>
    <p><img class="pic" src="images/financials.jpg" /></p>
    <p> The game's branding is soft and neutral, matching the company's logo. GSB will attract users with the convenience of having the game released on an app, also by adding an educational aspect the company has put separation between Sorry Not Sorry and other card games. The company will release the expansion packs slowly highlighting holidays in order to retain our customers' interest. The branding of the game will be finalized after crowdfunding and user input. </p>
<p>A crowdfunding campaign on Kickstarter is the company's first order of business, crowdfunding is the practice of funding a project or venture by raising many small amounts of money from a large number of people.</p> 
<p>Development costs for the site are mostly Trademark services and domain. The most expensive item is a patent on the game. Luckily there is a Pro bono patent program that allows companies to be matched to services that are free of charge regarding patents.
</p>
<%- include('../partials/footer') %>