<%- include('../partials/header') %>
  <h2>My Home Page</h2>
    <p><img class="pic" src="images/gsb.jpg" /></p>
    <p>GSB® Sorry Not Sorry, LLC is a licensed game application available on the apple market. Meant to mimic conversational card games through a handheld app, Sorry, Not Sorry is meant to break the awkward silence and start the conversation within any setting. GSB® Sorry Not Sorry, LLC contains the following values and intention to uphold human connection. </p>
<%- include('../partials/footer') %>