<%- include('../partials/header') %>
  <h2>Mission</h2>
    <p><img class="pic" src="images/mission.jpg" /></p>
<p>Brand Motto
"Rebonding the circle of life one connection at a time" </p>
<p>Value Proposition 
"Actively Pursuing the Intimate Contact of the mind"</p> 
<p>Our Mission Statement
"Deep Human Connection is the purpose of a meaningful life and it will continue to inspire the most amazing acts of love, generosity, and humanity. Only through our connectedness to others can we really know and enhance the self."</p>
<%- include('../partials/footer') %>